<footer>


    <div>
        <a class="btn btn-default">© Copyright 2021. Todos os direitos reservados Miguel Neto.</a>
        <a class="btn btn-outline-primary" style="margin: 0.2%;" href="https://twitter.com/Miguelnet0o0" target="_blank">Twitter</a>

        <a class="btn btn-outline-dark" style="margin: 0.2%;" href="https://github.com/MiguellNeto" target="_blank">GitHub</a>
        <a class="btn btn-outline-danger" style="margin: 0.2%;" href="https://www.instagram.com/miguelgneto/" target="_blank">Instragram </a>

    </div>



</footer>